main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: #1a1a1a;
}

main .container {
  text-align: center;

  margin: 0 auto;
  max-height: 100vh;
}

main .container p {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

main .container img {
  width: 100%;
  height: auto;
  max-height: 220px;
  object-fit: cover;
  object-position: top;
}