main {
  background-color: #1c1c1c;
  color: #ffffff;
  padding-bottom: 20px;
}

main .container {
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
}

main h1 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 25px 0;
}

main .comics-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

main .jumbotron {
  position: relative;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  min-height: 320px;
  min-width: 100vw;
  background-position: center top;
}

main .container h1 {
  color: #ffffff;
  background-color: #0282f9;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.cards img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
